body {
  color: #2c2c2c;
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.page-wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.line-height-0 {
  line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h5,
.h5 {
  font-size: 1.57em;
  line-height: 1.4em;
  margin-bottom: 15px;
}
/* ============== sidebar area style start =============== */
#sidebar {
  max-width: 300px;
  width: 260px;
  height: 100%;
  border-right: 1px solid #ddd;
  position: fixed;
  right: auto;
  left: 0;
  z-index: 1032;
  visibility: visible;
  overflow-y: visible;
  padding: 0;
}

.sidebar-header .logo {
  position: relative;
  padding: 7px 0.7rem;
  z-index: 4;
}

#sidebar[data-color="white"] .logo .simple-text {
  color: #66615b;
}

#sidebar .logo a.logo-mini {
  opacity: 1;
  float: left;
  width: 34px;
  text-align: center;
  margin-left: 10px;
  margin-right: 12px;
}

.logo-image-small i {
  font-size: 34px;
}

#sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 0.5rem 0;
  display: block;
  white-space: nowrap;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
}

#sidebar .logo a.logo-normal {
  display: block;
  opacity: 1;
  padding: 11px 0 8px;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.sidebar-header .logo:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(255, 255, 255, 0.5);
}

#sidebar[data-color="white"] .sidebar-header .logo:after {
  background-color: #66615b;
  opacity: 0.4;
}

#sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 100px;
}

#sisebar .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#sidebar .sidebar-nav {
  margin-top: 20px;
  display: block;
}

#sidebar .nav li > a {
  margin: 10px 15px 0;
  color: #ffffff;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13.5px;
  font-weight: 500;
  padding: 10px 8px;
  line-height: 30px;
  opacity: 0.7;
}

/* 
discarded active pointer
#sidebar .sidebar-wrapper li.active>a:not([data-toggle="collapse"]):after {
  border-right: 17px solid #f4f3ef;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: -17px;
  opacity: 1;
  top: 7px;
  transition: opacity 150ms ease-in;
} 
*/

#sidebar .nav li a p {
  margin-bottom: 0;
}

#sidebar[data-active-color="danger"] .nav li.active > a,
#sidebar[data-active-color="danger"] .nav li.active > a i {
  color: #ef8157;
  opacity: 1;
}

#sidebar[data-color="white"] .nav li a,
#sidebar[data-color="white"] .nav li a i {
  color: #66615b;
  opacity: 0.7;
}

#sidebar[data-color="white"] .nav li:hover a,
#sidebar[data-color="white"] .nav li:hover a i {
  color: #4e4c48;
  font-weight: 600;
  transition: all ease-in-out 1s;
}

#sidebar[data-active-color="danger"] .nav li.active:hover > a,
#sidebar[data-active-color="danger"] .nav li.active:hover > a i {
  color: #f08357;
  font-weight: 400;
  transition: color ease-in-out 1s;
}

#sidebar .nav i {
  font-size: 27px;
  float: left;
  margin-right: 12px;
  line-height: 30px;
  width: 34px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}

.nc-icon {
  display: inline-block;
  /* font: normal normal normal 14px/1 "nucleo-icons"; */
  font-size: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ================ main panel style start =============== */
.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  background-color: #f4f3ef;
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

/* =========== panel nav ============ */
.panel-navbar {
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.panel-navbar .md-form {
  box-shadow: 0 1px 1px 0 #c7c7c7 inset;
  background: none repeat scroll 0 0 gainsboro;
  border-radius: 4px;
}

.panel-navbar .md-form input {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.panel-navbar .md-form .input-group-append,
.panel-navbar .md-form .input-group-append button {
  background: transparent !important;
  border: none;
}

.panel-navbar .navbar-nav .nav-item {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

/* ========== panel content ========== */
.main-panel > .content {
  padding: 0 30px 30px;
  min-height: calc(100vh - 123px);
  margin-top: 43px;
}

/* =========== panel footer ============ */
.main-panel .footer {
  padding: 8px 0;
  border-top: 1px solid #ccc;
}

.main-panel .footer .nav-item,
.main-panel .footer .nav-item .nav-link {
  color: #66615b;
  font-size: 14px;
  font-weight: 400;
}

.main-panel .footer .credits {
  padding: 0.5rem 1rem;
  color: #2c2b2a;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .main-panel .footer .credits {
    padding-right: 15px;
  }
}

/* ============= main panel cards ============ */
.custom-card .card-title {
  margin-bottom: 0.75rem;
}

.custom-card.card .card-header .card-title {
  margin-top: 10px;
}

.custom-card .category,
.card-category {
  text-transform: capitalize;
  font-weight: 400;
  color: #9a9a9a;
  font-size: 0.7142em;
}

.custom-card .card-category {
  font-size: 1em;
}

.custom-card .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.custom-card.card .card-body {
  padding: 15px 15px 10px 15px;
}

.custom-card .card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.custom-card .card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.custom-card.card .card-footer {
  background-color: transparent;
  border: 0;
}

.custom-card.card .card-footer .stats i {
  margin-right: 5px;
  position: relative;
  top: 0px;
  color: #66615b;
}
/* stat card */
.custom-card.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
}

.card-stats .card-body {
  padding-bottom: 0;
}

.card-stats .card-footer {
  padding: 0px 15px 15px;
}

.card-stats .card-footer .stats {
  color: #9a9a9a;
}

.card-stats .icon-big {
  font-size: 3em;
  min-height: 64px;
}

.card-stats .card-body .numbers {
  text-align: right;
  font-size: 2em;
}

.card-stats .card-body .numbers p {
  margin-bottom: 0;
}

.card-stats .card-body .numbers .card-category {
  color: #9a9a9a;
  font-size: 16px;
  line-height: 1.4em;
}

/* ====================== posts =================== */
/* recent post */
.custom-card .card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.custom-card.card .card-header {
  padding: 15px 15px 0;
  border: 0;
}

.custom-card.card .card-header:not([data-background-color]) {
  background-color: transparent;
}

/* ============= masonry ============= */
/* Within style tags in your html file */
* {
  box-sizing: border-box;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 31.333%;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}

@media (min-width: 900px) and (max-width: 1074px) {
  .grid-sizer,
  .grid-item {
    width: 48%;
  }
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/* ============= create post ============= */

/* ============= profile ============== */
.profile-header {
  background-color: transparent;
  padding: 15px 15px 0;
  border: 0;
}

.profile-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card .image {
  overflow: hidden;
  height: 200px;
  position: relative;
}

.card-user .card-body {
  min-height: 240px;
}

.card-user .image img {
  max-width: 100%;
  border-radius: 12px;
}

.card-user .author {
  text-align: center;
  text-transform: none;
  margin-top: -77px;
}

.card-user .description {
  color: #9a9a9a;
  font-weight: 300;
}

.card-user p.description {
  font-size: 1.14em;
}

.card-user .author a + p.description {
  margin-top: -7px;
}

.card-user .author .title {
  font-weight: 700;
}

.card-user .image {
  height: 130px;
}

.card .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
}

.card-user .avatar {
  width: 124px;
  height: 124px;
  border: 1px solid #FFFFFF;
  position: relative;
}

.card .card-footer {
  background-color: transparent;
  border: 0;
}

.card-user .card-body+.card-footer {
  padding-top: 0;
}

.card-user hr {
  margin: 5px 15px 15px;
}

.card-user .button-container {
  margin-bottom: 6px;
  text-align: center;
}

.card-user .social-icon {
  color: #fff;
  text-decoration: none;
}

.card-user .social-icon .fab {
  border-radius: 50%;
  border: 1px solid ghostwhite;
}

.card-user .fa-facebook-f {
  padding:10px 15px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #3d5b99;
  background-color: #e9e8e8;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.card-user .fa-facebook-f:hover {
  color: #fff;
  background-color: #3d5b99;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.card-user .fa-twitter {
  padding:10px 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #00aced;
  background-color: #e9e8e8;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.card-user .fa-twitter:hover {
  color: #fff;
  background-color: #00aced;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.card-user .fa-instagram {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #d6249f;
  color: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  color: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  background-color: #e9e8e8;
}
.card-user .fa-instagram:hover {
  color: #fff;
  background: #d6249f; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.card-user .fa-rss {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.card-user .fa-rss:hover {
  background-color: #eb8231;
}
.card-user .fa-youtube {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.card-user .fa-youtube:hover {
  background-color: #e64a41;
}
.card-user .fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.card-user .fa-linkedin:hover {
  background-color: #0073a4;
}
.card-user .fa-github {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.card-user .fa-github:hover {
  background-color: #5a32a3;
}

.card-user .social-icon.disabled .fab {
  color: #fff;
}

.card-user .social-icon.disabled .fab:hover {
  color: #fff;
  background: #e9e8e8;
}

/* =========== notifications ============== */
.alert {
  font-size: 14px;
  font-weight: 400;
}

.alert strong {
  font-weight: bolder;
}

.alert[data-notify-position="top-right"] {
  display: inline-block;
  position: fixed;
  z-index: 1099;
  top: 20px;
  right: 20px;
}