extends ../layouts/main-layout.pug

block headerContent 
  .navigation-section.lead
    span.page-nav-link
      a.link-custom.seventh.after(href='#') Home
    i.fas.fa-long-arrow-alt-right
    span.page-nav-link
      a.link-custom.eigth.after(href='#') About

block mainContent


  // ========== start site motive ============
  section#site-motive.py-5
    .container
      h2.text-left.font-hind Our Motive &#x1F913;
      hr.mx-auto.w-10
      p.lead.font-raleway
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam iure fuga accusantium nulla dicta illo necessitatibus sequi eos quia nam doloribus maxime tempora, quidem, mollitia beatae eum laborum modi corrupti!
        | Minima a error commodi illum dolor eius, assumenda ut accusamus aut, dolore quaerat dolorem! Veritatis nihil culpa, nisi mollitia tempore nobis accusantium maiores quos, repellat sint rerum neque deserunt doloribus.
        | Unde atque aliquid dolor enim inventore eum reiciendis reprehenderit architecto adipisci. Blanditiis, beatae nam aliquam architecto quia tenetur exercitationem, ex laboriosam, explicabo ea quas dignissimos aut qui commodi numquam laborum.
        | Mollitia et, distinctio quidem facilis, repudiandae eaque nobis suscipit perspiciatis officia labore ducimus eveniet placeat aperiam quam recusandae pariatur optio a autem impedit magni cumque velit in blanditiis error. Obcaecati.
        | Cumque explicabo tenetur repellat veniam unde odio? Minus odio, reprehenderit, error, nulla sit iure vel vitae praesentium atque quam fuga quasi nobis consequatur quaerat nam nisi! Consectetur, eaque quasi. Adipisci.
  // ========== end site motive =========
  // ========== start team area ==========
  section#team-area.my-5.py-4
    .container
      h2.text-center.font-montserrat Meet Our Awesome Team
      p.display-4.text-center Under Construction &#x1F6E0;&#xFE0F;
  // ========== end team area ============
